/* Маленькие устройства (мобильные телефоны) */
@media only screen and (max-width: 480px) {
    body {
        overflow-x: hidden;
    }
    .burger_menu {
        display: none;
    }

    .main__content {
        align-items: center;
        margin: 0px 16px;
        flex-direction: column;
        width: 95%;
        margin-top: 100px;
    }

    .main__content_text {
        margin-bottom: 100px;
    }

    .main__content_text > h1 {
        font-size: 2.5rem;
    }
    .main__content_text > p {
        font-size: 1.1rem;
    }

    .main__content_img {
        margin: 0 50px;
        position: relative;
        z-index: 2;
    }

    .main__content_img > img {
        position: relative;
        top: 3px;
        left: 19px;
        width: 95%;
        height: auto;
        z-index: 1;
    }

    .main__content_bg > img {
        position: absolute;
        width: 195%;
        top: 25px;
        left: -79px;
        max-height: 88%;
        z-index: -1;
    }

    .about__content_item_left {
        font-size: 1.5rem;
        line-height: 28.8px;
        margin: 0px 107px 0px 16px;
    }

    .about__content_title {
        font-size: 2.5rem;
        margin-left: 16px;
        margin-bottom: 30px;
    }

    .about__content_item_left > img {
        display: none;
    }

    .about__content_items {
        display: flex;
        flex-direction: column;
    }

    .about__content_item_rigth {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
    }

    .about__content_item_rigth_contact > h4 {
        font-size: 2rem;
    }

    .about__content_item_rigth_contact > p {
        font-size: 1rem;
    }

    .about__content_item_left > img {
        display: none;
    }

    .about__content_items {
        flex-direction: column;
    }

    .interest__content {
        display: flex;
        flex-direction: column;
    }

    .interest__content > div > p {
        font-weight: 600;
        font-size: 1.3rem;
        margin-top: 0px;
        color: #ffffff;
    }

    .interest__amount {
        display: flex;
        align-items: center;
    }

    .interest__sales {
        display: flex;
        align-items: center;
    }

    .interest__customers {
        display: flex;
        align-items: center;
    }

    .interest__content > div > span {
        font-size: 2.5rem;
        margin: 0px 20px 0px 16px;
    }

    /* budds */

    .budds__content_title {
        height: 120px;
        margin-bottom: 40px;
        display: flex;
    }

    .budds__content_title > h4 {
        font-size: 2.5rem;
        line-height: 42.4px;
    }

    .budds__content_title > p {
        font-size: 1.5rem;
        line-height: 28.8px;
        margin-top: 20px;
    }

    .flex__item_one {
        width: 95%;
        margin-left: 16px;
        margin-right: 16px;
    }

    .flex__item_one_content {
        display: flex;
        justify-content: right;
        height: 144px;
        text-align: start;
        line-height: 33.92px;
    }

    .flex__item_one_title > h5 {
        font-size: 2rem;
        line-height: 33.92px;
    }

    .flex__item_one_title > p {
        line-height: 20.16px;
        font-size: 1rem;
    }

    .flex__item_one > div > img {
        width: 52%;
        transform: rotate(-10deg);
        left: -14px;
        top: 191px;
    }

    .flex_item_two {
        width: 95%;
        margin-left: 16px;
        margin-right: 16px;
    }

    .flex__item_two_title > h5 {
        font-size: 2rem;
        line-height: 33.92px;
    }

    .flex__item_two_title > p {
        font-size: 1rem;
        line-height: 20.16px;
    }
    .flex__item_two_title {
        height: 236px;
        display: flex;
        flex-direction: column;
        text-align: -webkit-auto;
        text-align: start;
    }

    .flex__item_two_img1 {
        width: 20%;
        position: absolute;
        right: 0px;
        top: 246px;
    }

    .flex__item_two_img2 {
        position: absolute;
        right: 82px;
        top: 287px;
    }

    .flex__item_two_img3 {
        position: absolute;
        top: 308px;
        left: 30px;
    }

    .flex_item_three {
        width: 95%;
        margin-left: 16px;
        margin-right: 16px;
    }

    .flex_item_three_title {
        line-height: 33.92px;
    }

    .flex_item_three_title > h5 {
        font-size: 2rem;
        line-height: 33.92px;
        font-weight: 700;
    }

    .flex_item_three_img {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .flex__item_four {
        width: 95%;
        margin-left: 16px;
        margin-right: 16px;
    }

    .flex__item_four_title {
        height: 236px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .flex__item_four_title > h5 {
        font-size: 2rem;
        line-height: 33.92px;
        font-weight: 700;
    }

    .flex__item_four_title > p {
        font-size: 1rem;
    }

    .flex_item_four_img {
        width: 99px;
        position: absolute;
        top: 238px;
        right: 43px;
    }

    .modal__form {
        max-width: 335px;
        max-height: 550px;
        margin-top: 100px;
    }

    .form_control > input {
        width: 100%;
    }

    .form_control {
        position: relative;
        margin-bottom: -10px;
        padding-bottom: 23px;
    }

    .form_control.error small {
        margin-top: 15px;
    }

    .form_control > i > img {
        top: 39px;
    }

    .modal__form > img {
        left: 253px;
    }

    .modal__thank_content {
        height: 447px;
        width: 335px;
    }

    .modal__thank_content > p {
        font-size: 21px;
    }

    .modal__thank_content > button {
        width: 230px;
    }

    .button__form {
        margin-top: 0;
    }

    .business__grow {
        margin-top: 60px;
    }

    .container_grow {
        padding-top: 40px;
    }

    .business__grow__title > h2 {
        font-size: 40px;
    }

    .business__grow_brands_content {
        flex-direction: column;
    }

    .business__grow_brands_title {
        width: 355px;
        margin-left: 16px;
    }

    .business__grow_brands_title > h2 {
        font-size: 40px;
    }

    .business__grow_brands_icons {
        margin-left: 16px;
        margin-right: 16px;
    }

    .business__grow_brands_icons > img {
        width: 20%;
    }

    .business__grow_partners_slider > img {
        margin-top: 100px;
    }
}

/* Планшеты и маленькие ноутбуки */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .burger_menu {
        display: none;
    }

    .main__content {
        flex-direction: column;
        margin-left: 16px;
    }

    .main__content_text {
        margin-bottom: 6.3rem;
    }

    .about__content_item_left {
        font-size: 1.5rem;
        line-height: 28.8px;
        margin: 0px 107px 0px 16px;
    }
    .about__content_title {
        font-size: 2.5rem;
        margin-left: 16px;
        margin-bottom: 30px;
    }

    .about__content_item_left > img {
        display: none;
    }

    .about__content_items {
        display: flex;
        flex-direction: column;
    }

    .about__content_item_rigth {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
    }

    .main__content_img > img {
        position: relative;
        top: 0;
        left: 23px;
        width: 100%;
        height: auto;
        z-index: 1;
    }

    .flex__item_one_title {
        text-align: left;
    }

    .main__content_bg > img {
        position: absolute;
        width: 138%;
        top: 36px;
        left: -119px;
        max-height: 88%;
        z-index: -1;
    }

    .interest__content {
        flex-direction: column;
        margin-left: 16px;
    }

    .interest__amount {
        display: flex;
    }

    .interest__sales {
        display: flex;
    }

    .interest__customers {
        display: flex;
    }

    .budds__content_flex {
        margin-right: 16px;
        margin-left: 16px;
    }

    .flex__item_one_title > h5 {
        line-height: 40px;
        font-size: 2.5rem;
    }

    .flex__item_one > div > img {
        width: 45%;
        transform: rotate(-13deg);
        object-fit: cover;
        position: absolute;
        left: -14px;
        top: 164px;
    }

    .flex__item_two_title > h5 {
        font-size: 2.5rem;
        line-height: 40px;
    }

    .flex__item_two_img1 {
        position: absolute;
        right: -20px;
        top: 195px;
    }

    .flex__item_two_img2 {
        position: absolute;
        right: 100px;
        top: 276px;
    }

    .flex__item_two_img3 {
        position: absolute;
        top: 298px;
        left: 72px;
    }

    .flex_item_three {
        width: 100%;
    }

    .flex_item_three_title > h5 {
        font-size: 2.2rem;
        line-height: 40px;
    }

    .flex_item_three_img {
        position: absolute;
        right: 0px;
        bottom: 1px;
    }

    .flex__item_four {
        width: 100%;
    }

    .flex__item_four_title > h5 {
        font-size: 2.2rem;
        line-height: 40px;
    }

    .flex_item_four_img {
        width: 125px;
        position: absolute;
        top: 213px;
        right: 43px;
    }
}

/* Средние ноутбуки и планшеты в горизонтальном режиме */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .burger_menu {
        display: none;
    }

    .main__content {
        flex-direction: column;
        margin-left: 16px;
    }

    .main__content_img {
        margin-top: 100px;
    }

    .main__content_img > img {
        position: relative;
        top: -9px;
        left: 38px;
        width: 100%;
        height: auto;
        z-index: 1;
    }

    .main__content_bg > img {
        position: absolute;
        width: 100%;
        top: 39px;
        left: 134px;
        max-height: 88%;
        z-index: -1;
    }

    .about__content_title {
        font-size: 4.2rem;
        margin: 0 83px;
    }

    .about__content_item_left {
        width: 100%;
        margin-top: 20px;
    }

    .about__content_items {
        display: flex;
        margin-left: 16px;
        flex-wrap: wrap;
        margin-left: 39px;
    }

    .about__content_item_rigth {
        margin-left: 40px;
    }

    .about__content_item_left > img {
        display: none;
    }

    .interest__content {
        margin: 0 132px;
    }

    .flex__item_one {
        width: 49%;
    }

    .budds__content_flex {
        margin-right: 16px;
        margin-left: 16px;
    }

    .flex__item_one_title > h5 {
        font-size: 1.5rem;
        line-height: 30px;
    }

    .flex__item_one > div > img {
        width: 163px;
        object-fit: cover;
        position: absolute;
        left: -11px;
        top: 195px;
        transform: rotate(-10deg);
    }

    .flex_item_two {
        width: 49%;
    }

    .flex__item_two_title > h5 {
        font-size: 1.5rem;
        line-height: 30px;
        padding: 0;
    }

    .flex__item_two_title > p {
        padding-top: 20px;
    }

    .flex__item_two_img1 {
        position: absolute;
        right: -20px;
        top: 217px;
    }

    .flex__item_two_img2 {
        position: absolute;
        right: 93px;
        top: 276px;
    }

    .flex__item_two_img3 {
        position: absolute;
        top: 299px;
        left: 26px;
    }
    .flex_item_three {
        width: 49%;
    }

    .flex_item_three_title > h5 {
        font-size: 1.5rem;
        line-height: 30px;
    }

    .flex_item_three_img {
        width: 150px;
        position: absolute;
        right: 1px;
        bottom: 0px;
    }

    .flex__item_four {
        width: 49%;
    }

    .flex__item_four_title > h5 {
        font-size: 1.5rem;
        line-height: 30px;
    }

    .flex_item_four_img {
        width: 100px;
        position: absolute;
        top: 228px;
        right: 43px;
    }
}

/* Ноутбуки и настольные компьютеры */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    body {
        overflow-x: hidden;
    }

    .main__content_text > h1 {
        font-size: 4.5rem;
    }
    .main__content_img > img {
        position: relative;
        top: 0;
        left: 44px;
        width: 100%;
        height: auto;
        z-index: 1;
    }

    .main__content_bg > img {
        position: absolute;
        width: 127%;
        top: 39px;
        left: -38px;
        max-height: 88%;
        z-index: -1;
    }

    .about__content_title {
        font-size: 4.5rem;
    }

    .about__content_item_left {
        width: 100%;
        margin-top: 20px;
    }

    .about__content_items {
        flex-direction: column;
    }

    .about__content_item_left > img {
        display: none;
    }

    .about__content_item_rigth {
        margin-left: 47px;
    }

    .budds__content_title > h4 {
        font-size: 4.5rem;
    }

    .budds__content_title > p {
        margin-top: 20px;
    }

    .budds__content_flex {
        margin-left: 16px;
        margin-right: 16px;
    }

    .flex__item_one {
        width: 50%;
    }

    .flex__item_one_title > h5 {
        padding: 20px 0;
        font-size: 2rem;
        line-height: 30px;
    }

    .flex__item_one_title > p {
        margin-top: 0;
    }

    .flex__item_one > div > img {
        width: 205px;
        top: 158px;
        left: -17px;
        transform: rotate(-10deg);
    }

    .flex_item_two {
        width: 46%;
    }

    .flex__item_two_title > h5 {
        font-size: 2rem;
        line-height: 30px;
    }

    .flex__item_two_img1 {
        position: absolute;
        right: -20px;
        top: 198px;
    }

    .flex__item_two_img2 {
        position: absolute;
        right: 122px;
        top: 276px;
    }

    .flex__item_two_img3 {
        position: absolute;
        top: 299px;
        left: 72px;
    }

    .flex_item_three {
        width: 50%;
    }

    .flex_item_three_title > h5 {
        font-size: 2rem;
        line-height: 30px;
    }

    .flex_item_three_img {
        position: absolute;
        right: 1px;
        bottom: 2px;
    }

    .flex__item_four {
        width: 46%;
    }

    .flex__item_four_title > h5 {
        font-size: 2rem;
        line-height: 30px;
    }

    .flex_item_four_img {
        width: 120px;

        position: absolute;
        top: 202px;
        right: 43px;
    }
}

/* Большие настольные мониторы и телевизоры */
@media only screen and (min-width: 1280px) {
    body {
        overflow-x: hidden;
    }
    .flex__item_one {
        width: 61%;
        display: flex;
        justify-content: right;
    }

    .flex__item_one_content {
        width: 364px;
        font-size: 3rem;
        margin-top: 20px;
    }

    .flex__item_one > div > img {
        width: 41%;
    }

    .flex_item_two {
        width: 38%;
    }

    .flex_item_three_title {
        width: 440px;
    }

    .flex__item_two_title {
        width: 416px;
    }

    .flex_item_three {
        width: 38%;
    }

    .flex_item_three_title > p {
        width: 308px;
    }

    .flex_item_three_img {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .flex__item_four {
        width: 61%;
    }

    .flex_item_four_img {
        position: absolute;
        top: 81px;
        right: 43px;
    }

    .flex__item_four_title {
        width: 402px;
    }
}
